<div class="col-md-12">
  <div class="row">
    <img src="http://placehold.it/400x400" alt="..." align="right">
    <p>
      Chicharrones iPhone authentic, tousled locavore chartreuse edison bulb raclette. Disrupt actually ramps, VHS etsy 3 wolf moon church-key meh. Williamsburg lomo vice, fanny pack iceland blue bottle portland pabst. Banh mi quinoa taxidermy, hashtag shoreditch listicle locavore migas cred. Jean shorts next level yuccie farm-to-table af, fingerstache gentrify keytar gluten-free bushwick tbh. Kale chips skateboard fingerstache helvetica selfies etsy activated charcoal, bitters adaptogen 8-bit sustainable celiac. Keytar messenger bag retro, tumeric vaporware affogato photo booth hot chicken polaroid try-hard keffiyeh pug leggings kinfolk.
    </p>
  </div>

  <hr>
  <div class="row">
    <img src="http://placehold.it/400x400" alt="..." align="left">
    <p class="desc-left">
      Chicharrones iPhone authentic, tousled locavore chartreuse edison bulb raclette. Disrupt actually ramps, VHS etsy 3 wolf moon church-key meh. Williamsburg lomo vice, fanny pack iceland blue bottle portland pabst. Banh mi quinoa taxidermy, hashtag shoreditch listicle locavore migas cred. Jean shorts next level yuccie farm-to-table af, fingerstache gentrify keytar gluten-free bushwick tbh. Kale chips skateboard fingerstache helvetica selfies etsy activated charcoal, bitters adaptogen 8-bit sustainable celiac. Keytar messenger bag retro, tumeric vaporware affogato photo booth hot chicken polaroid try-hard keffiyeh pug leggings kinfolk.
    </p>
  </div>

  <hr>
  <div class="row">
    <img src="http://placehold.it/400x400" alt="..." align="right">
    <p class="desc-left">
      Chicharrones iPhone authentic, tousled locavore chartreuse edison bulb raclette. Disrupt actually ramps, VHS etsy 3 wolf moon church-key meh. Williamsburg lomo vice, fanny pack iceland blue bottle portland pabst. Banh mi quinoa taxidermy, hashtag shoreditch listicle locavore migas cred. Jean shorts next level yuccie farm-to-table af, fingerstache gentrify keytar gluten-free bushwick tbh. Kale chips skateboard fingerstache helvetica selfies etsy activated charcoal, bitters adaptogen 8-bit sustainable celiac. Keytar messenger bag retro, tumeric vaporware affogato photo booth hot chicken polaroid try-hard keffiyeh pug leggings kinfolk.
    </p>
  </div>
</div>